:root {
  --active-color: #4d5ae5;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --white-color: #ffffff;
  --white-studio-color: #f4f4fd;
  --footer-text-color: #e7e9fc;

  --button-portfolio-background: #f4f4fd;
  --border-portfolio-color: #e7e9fc;
  --hover-button-portfolio-background: #404bbf;
}

body {
  color: var(--main-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
}

.page,
.filter-button {
  color: var(--active-color);
}

.address {
  color: var(--secondary-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  color: var(--white-color);
  background-color: var(--main-color);

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.button {
  color: var(--white-color);
  background-color: var(--active-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

.footer {
  background-color: var(--main-color);
}
.footer-text {
  color: var(--footer-text-color);
}

.filter-button {
  background-color: var(--button-portfolio-background);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}

.filter-button:hover {
  color: var(--white-color);
  background-color: var(--hover-button-portfolio-background);
}

.main-link {
  color: var(--white-studio-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.title-specifics {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.position {
  font-size: 16px;
  line-height: 1.5;
}
